@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');
body{
    margin: 0 auto;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}

/* Header */
header{
    font-family: Assistant;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    
    letter-spacing: 0.02em;
    color: #121212;
}
.header__body{
    /* Auto Layout */
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    /* padding: 30px 0px; */

    position: static;
    width:100%;
    max-width: 1280px;
    height: 76px;
    left: 0px;
    right: 0px;
    top: 0px;
    margin: 0 auto;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    position: static;
    width: 810px;
    height: 44px;
}
.header-left__links{
    vertical-align: top;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 51px;
}
.header-left__link{
    width: 61px;
    display: flex;
    flex-direction: row;
    align-items: center;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 16px;
}

.header-left__button{
    border: 0;
    background-color: #FFFFFF;
}
.header-left__logo{
    width:90px;
    height: 22px;
    background: url("./images/logo.svg");
}
.header-left__subtitle{
    margin-right: 13.64px;
}
.header-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /* Inside Auto Layout */
    flex: none; 
    order: 1;
    flex-grow: 0;
    /* border: 1px solid red;
    box-sizing: border-box; */
    width: 132px;
}
.header-right-icon{
    flex: none;
    order: 2;
    flex-grow: 0;
    /* border: 1px solid green;
    box-sizing: border-box; */
    width: 20px;
    height: 20px;
}
.header-right-icon img{
    width: 20px;
    height: 20px;
}

/* INTRO */
.intro{
    position: relative;
    height: 494px;
    width: 100%;

    background: url("./images/background.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.intro-content{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}
.intro-body{
    position: absolute;
    display: flex;
    flex-direction: column;

    color: #FFFFFF;
    z-index: 100;

    flex: none;
    flex-grow: 0;
    max-width: 400px;
    margin-bottom: 64px;
}
.intro__title{
    font-family: Assistant;
    font-style: normal;
    font-weight: normal;
    text-align: center;

    position: static;
    top:100px; 
    font-size: 52px;
    line-height: 68px;
    order: 0;
}
.intro__subtitle{
    font-family: Assistant;
    font-style: normal;
    font-weight: normal;
    text-align: center;

    font-size: 16px;
    line-height: 172%;

    letter-spacing: 0.04em;
    order: 1;
}
.intro__button{
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 16px; */
    width: 100%;
    padding-top: 10px;

    /* Dawn/White */
    /* border: 1px solid #FFFFFF; */
    box-sizing: border-box;

    /* Inside Auto Layout */
    order: 2;
}
.intro__button button {
    width: 111px;
    height: 47px;
    background: none;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

/* TITLES */
.titles{
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: center;

    position: static;
    width: 100%; 
    height: 140px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 64px 0px;
}
.titles-body{
    position: absolute;
    display: flex;
    flex-direction: column;

    flex: none;
    flex-grow: 0;
    max-width: 700px;
    height: 140px;
}
.titles__title{
    font-size: 40px;
    padding-bottom: 17px;
}

/* BAGS */
.bags-block{
    display: flex;
    width: 100%;
    height: 670px;
    justify-content: center;
}
.bags{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;

    position: relative;
    width: 1112px;
    height: 670px;

    /* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0 auto;
}
.bags-column{
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    padding: 0px;
    justify-content: space-between;

    position: absolute;
    width: 1112px;
    height: 323px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.bag-column__2{
    order: 2;
    margin-top: 347px;
}
.card {
    width: 261px;
    height: 323px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    /* border: 1px solid blue; */
    box-sizing: border-box;
}
.card-image {
    position: relative;
    width: 100%;
    height: 272px;
    /* border: 1px solid red; */
    box-sizing: border-box;
}
.card-image > img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.card-desc > p{
    display: flex;
    justify-content: left;
    font-size: 14px;
    margin: 0;
    justify-content: left;
}
.sale{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.price{
    margin: 0;
    font-size: 16px;
}
.price_sale{
    justify-content: left;
    font-family: Assistant;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    letter-spacing: 0.02em;
    text-decoration-line: line-through;


    color: #000000;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 0px;
    margin-right: 10px;
}
.card-image > p{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;

    width: 49px;
    height: 25px;
    left: 8px;
    bottom: 8px;
    padding: 4px 12px;

    color: #FFFFFF;
    font-size: 13px;
    margin: 0;

    /* Dawn/Blue 900 */
    background: #3752B2;
    border-radius: 99px;
}
.sale .price{
    margin-top: -4px;
}

/* Container BAG
================================================ */
.container{
    display: grid;
    width: 100%;
    height: 670px;
    justify-items: center;
    margin-top: 30px;
}
.sections{
    display: grid;
    width: 1112px;
    height: 670px;
    grid-gap: 1.4em; /*  отступы: column,row*/
    grid-auto-rows: 323px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.section{
    display: grid;
    width: 261px;
}
.section__image{
    display: grid;
    position: relative;
    z-index: 0;
    height: 272px;
}
.section__image > div{
    display: grid;
    position: absolute; 
    font-family: Assistant;

    justify-items: center;
    align-content: center;
    align-self: end;

    font-size: 13px;
    color: #FFFFFF;
    z-index: 2;
    width: 49px;
    height: 25px;
    background: #3752B2;
    border-radius: 99px;

    margin: 8px; 
    /* тут не знаю как отступ сделать
    через grid */

}
.sale__title{
    margin: 0 auto;
    display: grid;
    grid-gap: 4em;
}
.bag__photo{
    display: grid;
    position: absolute; 
    z-index: 1;
}
.description{
    display: grid;
    width: 260px;
    height: 51px;
}
.bag__name{
    font-family: Assistant;
    font-size: 14px;
    margin: 0;
    align-self: start;
}
.sale{
    display: grid;
    width: 178px;
    height: 28px;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;
}
.sale__price{
    margin: 0;
    font-family: Assistant;
    font-size: 14px;
    width: 88px;
    text-decoration-line: line-through;
}
.bag__price{
    margin: 0;
    font-family: Assistant;
    font-size: 16px;
    width: 88px;
}