header.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px 64px;
    
    position: static;
    width: 1200px;
    height: 76px;
    left: 0px;
    top: 0px;
    
    /* Dawn/White */
    background: #FFFFFF;
    /* Dawn/Border bottom */
    box-shadow: inset 0px -1px 0px #E1E3E5;
    
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}
.header-left__logo{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}
.header-left-categories{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    
    position: static;
    width: 215px;
    height: 37px;
    left: 141px;
    top: 3.5px;
    
    
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 51px;
}
.header-left-categories__link{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;
    
    position: static;
    width: 57px;
    height: 37px;
    left: 0px;
    top: 0px;
    
    
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
}