body{
    margin: 0 auto;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
/* Container */
.container {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px 64px;

    position: static;
    width:100%;
    max-width: 1280px;
    height: 76px;
    left: 0px;
    right: 0px;
    top: 0px;
    margin: 0 auto;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}
/* Header */
header{
    font-family: Assistant;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    
    letter-spacing: 0.02em;
    color: #121212;
}

.header-left__link{
    display: inline-block;
    vertical-align: top;
    border: 0;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;

    position: static;
    width: 57px;
    height: 37px;
    left: 0px;
    top: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
}
.icon{
    margin: 0px 6px;
}
.content{
    font-family: Assistant;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 68px;
    text-align: center;

    color: #FFFFFF;

    background: url("/images/background.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}